<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>
<body class="bg-gray-100 text-center">
    <%- include('../partials/navbar.ejs') %>

    <table class="min-w-2xl table-auto m-auto border-collapse shadow-md">
        <thead class="bg-gray-100">
            <tr class="*:px-4 *:py-2 *:text-left *:text-sm *:font-semibold *:text-gray-700 *:border">
                <th>CAS Number</th>
                <th>Name</th>
                <th>Formula</th>
                <th>Molecular Weight</th>
            </tr>
        </thead>
        <tbody class="**:border hover:bg-gray-50 **:px-4 **:py-2 **:text-sm **:text-gray-800">
            <tr class="border hover:bg-gray-50 ">
                <td><%= compound.casNumber %></td>
                <td><%= compound.name %></td>
                <td><%= compound.molecularFormula %></td>
                <td><%= compound.molecularWeight %></td>
            </tr>
            <tr>
                <td colspan="4"> Description </td>
            </tr>
            <tr>
                <td colspan="4">
                    <%= compound.description %>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="mt-5 min-w-2xl table-auto m-auto border-collapse shadow-md">
        <caption class=""> Our Products </caption>
        <thead class="bg-gray-100">
            <tr class="*:px-4 *:py-2 *:text-left *:text-sm *:font-semibold *:text-gray-700 *:border">
                <th>CAS Number</th>
                <th>Name</th>
                <th>Quality</th>
                <th>Availability</th>
            </tr>
        </thead>
        <tbody>
            <% compound.products.forEach( product => { %>
                <tr class="border *:border hover:bg-gray-50 *:px-4 *:py-2 *:text-sm *:text-gray-800">
                    <td><%= compound.casNumber %></td>
                    <td><%= compound.name %></td>
                    <td><%= product.quality %></td>
                    <td>Ask for Inquiry</td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>