<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>
<body class="bg-gray-100 text-center">
    <%- include('../partials/navbar.ejs') %>

    <table class="min-w-2xl table-auto m-auto border-collapse shadow-md">
        <thead class="bg-gray-100">
            <tr class="*:px-4 *:py-2 *:text-left *:text-sm *:font-semibold *:text-gray-700 *:border">
                <th>CAS Number</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <% compounds.forEach(compound => { %>
                <tr onclick="window.location='/compounds/<%= compound.casNumber %>'" 
                    class=  "border cursor-pointer borer
                            *:border hover:bg-gray-50 *:px-4 *:py-2 *:text-sm *:text-gray-800">
                    <td><%= compound.casNumber %></td>
                    <td><%= compound.name %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <div class="flex gap-2 justify-center mt-6">
        <% if (currentPage > 1) { %>
          <a href="?page=<%= currentPage - 1 %>" class="px-3 py-1 border rounded hover:bg-gray-100">Prev</a>
        <% } %>
      
        <% for (let p = 1; p <= totalPages; p++) { %>
          <% if (p === currentPage) { %>
            <span class="px-3 py-1 bg-blue-600 text-white rounded border border-blue-600"><%= p %></span>
          <% } else { %>
            <a href="?page=<%= p %>" class="px-3 py-1 border rounded hover:bg-gray-100"><%= p %></a>
          <% } %>
        <% } %>
      
        <% if (currentPage < totalPages) { %>
          <a href="?page=<%= currentPage + 1 %>" class="px-3 py-1 border rounded hover:bg-gray-100">Next</a>
        <% } %>
      </div>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>